<nb-card>
  <nb-card-header>
    Issue Info
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Type:
          </nb-card-header>
          <nb-card-body>{{issue_details.type}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Id:
          </nb-card-header>
          <nb-card-body>{{id}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Job Name
          </nb-card-header>
          <nb-card-body>{{jobName}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Application
          </nb-card-header>
          <nb-card-body>{{ issue_details.component }}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Business impact:
          </nb-card-header>
          <nb-card-body>{{impact}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Priority:
          </nb-card-header>
          <nb-card-body>{{priority}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Created by:
          </nb-card-header>
          <nb-card-body> {{createdBy}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Creation Date:
          </nb-card-header>
          <nb-card-body> {{creationDate.getDate()}}/{{creationDate.getMonth()}}/{{creationDate.getYear()}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Effort:
          </nb-card-header>
          <nb-card-body> {{effort}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Region:
          </nb-card-header>
          <nb-card-body> {{region}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Location affected:
          </nb-card-header>
          <nb-card-body> {{locationAffected}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Description:
          </nb-card-header>
          <nb-card-body> {{resolutionCommentary}}
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </nb-card-body>
</nb-card>
