<nb-card>
  <nb-card-header>
    Issue Info
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Type:
          </nb-card-header>
          <nb-card-body>{{ticketDetails.type}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Id:
          </nb-card-header>
          <nb-card-body>{{id}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Job Name
          </nb-card-header>
          <nb-card-body>{{ticketDetails.jobName}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Application
          </nb-card-header>
          <nb-card-body>{{ ticketDetails.component }}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Business impact:
          </nb-card-header>
          <nb-card-body>{{ticketDetails.impact}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Priority:
          </nb-card-header>
          <nb-card-body>{{priority}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Created by:
          </nb-card-header>
          <nb-card-body> {{ticketDetails.assignee}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Creation Date:
          </nb-card-header>
          <nb-card-body> {{creationDate}}/{{creationDate}}/{{creationDate}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Effort:
          </nb-card-header>
          <nb-card-body> {{ticketDetails.effort}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Region:
          </nb-card-header>
          <nb-card-body> {{ticketDetails.region}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Location affected:
          </nb-card-header>
          <nb-card-body> {{ticketDetails.locationAffected}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card>
          <nb-card-header>
            Description:
          </nb-card-header>
          <nb-card-body> {{ticketDetails.GroupSummary}}
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </nb-card-body>
</nb-card>
