<div class="row">
  <div class="col-md-2 col-xs-2">
    <!-- <nb-menu [items]="menus" (click)="openTab($event)"></nb-menu> -->
    <nb-card>
      <div class="issue-div" style="text-align: center;">
        <span>Issue Tracker</span>
      </div>
      <nb-card class="ticket-list">
        <div *ngFor="let menu of menus" class="issue-div" (click)="openTab(menu)">
          <i class="menu-icon nb-keypad"></i>
          <span>{{menu.issue_type}}-{{menu.index}}</span>
        </div>
      </nb-card>
    </nb-card>
  </div>
  <div class="col-md-10 col-xs-10">
    <nb-card>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Dashboard">
          <ngx-ticket-dashboard></ngx-ticket-dashboard>
        </nb-tab>
        <nb-tab tabTitle="{{tab.issue_type}}-{{tab.index}}" *ngFor="let tab of tabData">
          <ngx-issue-details></ngx-issue-details>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
