<div class="wrap">
  <span>
    <a *ngIf="expand" (click)="OnExpand()">
      <i class="ion-chevron-up"></i>
    </a>
    <a *ngIf="!expand" (click)="OnExpand()">
      <i class="nb-search"></i>
      <b>Search</b>
    </a>
  </span>
</div>

<div *ngIf="expand" class="row">

  <div class="col-md-3">
    <div class="form-group">
      <label class="form-control-label">Application:</label>
      <select class='form-control' required [(ngModel)]='applicationSelected'>
        <option value="" ng-reflect-value="">Select</option>
        <option *ngFor='let application of applications' [value]="application">{{application | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="form-control-label">Region:</label>
      <select class='form-control' required [(ngModel)]='regionSelected'>
        <option value="" ng-reflect-value="">Select</option>
        <option *ngFor='let region of regions' [value]="region">{{region | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="form-control-label">Job ID:</label>
      <input class="form-control" [(ngModel)]="jobId" name="jobId">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="form-control-label">Filter</label>
      <button class="btn btn-hero-primary btn-demo form-control" (click)="filterJob()">Filter Ticket</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-xs-2">
    <!-- <nb-menu [items]="menus" (click)="openTab($event)"></nb-menu> -->
    <nb-card>
      <div class="issue-div" style="text-align: center;">
        <span>Issue Tracker</span>
      </div>
      <nb-card class="ticket-list">
        <div infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" [infiniteScrollContainer]="'.ticket-list'"
          [fromRoot]="true" (scrolled)="onScrollDown()">
          <div *ngFor="let job of jobs" class="issue-div" (click)="openTab(job)" [ngClass]="{'new-item':job.new === true, 'opened-tab':job.opened === true}">
            <i class="menu-icon nb-keypad"></i>
            <span>{{job.JobName}}-{{job.IndexId}}</span>
          </div>
        </div>
      </nb-card>
    </nb-card>
  </div>
  <div class="col-md-10 col-xs-10" style="background-color: #fff">
    <ngb-tabset>
      <ngb-tab title="Dashboard">
        <ng-template ngbTabContent>
          <ngx-ticket-dashboard></ngx-ticket-dashboard>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngFor="let tab of tabData">
        <ng-template ngbTabTitle>
          <b id="{{tab.JobName}}-{{tab.IndexId}}">{{tab.JobName}}-{{tab.IndexId}}</b>
          <i class="nb-close-circled" (click)="closeTab(tab)"></i>
        </ng-template>
        <ng-template ngbTabContent>
          <ngx-issue-details [job]="tab"></ngx-issue-details>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
