<nb-card>
  <nb-card-header>
    Issue Probability
  </nb-card-header>
  <nb-card-body>
    <div class="container-fluid container-scroll">
      <div class="row" style="display: -webkit-box;">
        <div class="col-md-4" *ngFor="let topResolution of topResolutions">
          <div class="row">
            <nb-card class="card-css-override">
              <nb-card-body>
                <div class="row">
                  <span class="resolutions-frequency">
                    {{topResolution.Percentage}}%
                  </span>
                  <div class="col-sm-10">{{topResolution.Issue}}</div>
                </div>
                <ngx-probability-resolution [resolutions]="topResolution.Resolution"></ngx-probability-resolution>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
