<div class="row">
  <div class="col-md-8">
    <ngx-issue-info [jobId]="job.JobName" [ticketDetails]="ticketDetails"></ngx-issue-info>
    <div class="row">
      <div class="col-md-6">
        <ngx-frequent-issue [jobId]="job.JobName"></ngx-frequent-issue>
      </div>
      <div class="col-md-6">
        <ngx-recent-issue [jobId]="job.JobName"></ngx-recent-issue>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <ngx-issue-probability [jobId]="job.JobName"></ngx-issue-probability>
    <ngx-point-in-time-resolutions [jobId]="job.IndexId"></ngx-point-in-time-resolutions>
  </div>
</div>