<nb-card>
  <nb-card-header>
    Frequent Issue Info
  </nb-card-header>
  <nb-card-body style="height: 300px;">
    <nb-card *ngFor="let topResolutionsbyFrequency of topResolutionsbyFrequencies" class="card-css-override">
      <nb-card-body >
        <div class="row">
          <span class="resolutions-frequency">
            {{topResolutionsbyFrequency.Percentage}}%
          </span>
          <div class="col-sm-10">{{topResolutionsbyFrequency.Resolution}}</div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
